@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da janela */
    margin: 0;
    font-family: 'Eczar', serif;
}

.container {
    height: 900px;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row;
}

#tabuleiro {
    display: flex;
    height: 900px;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 230px;
}

.botoes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 230px;
}

.botao {
    height: 25px;
    width: 70px;
    margin: 2px 2px;
    background-color: rgb(194, 194, 194);
    border-radius: 6px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.botao:hover {  
    background-color: rgba(0, 0, 0, 0.3);
}

.celulaPontuacao {
    background-color: palegreen;
    height: 35px;
    width: 70px;
    font-size: 13pt;
    margin: 4px 2px;
    padding-top: 4px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid black;
}

.celula {
    height: 70px;
    width: 70px;
    margin: 2px 2px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#dado{
    height: 70px;
    width: 70px;
    margin: 2px 2px;
    padding-top: 10px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#organizarMeio {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 600px;
}

.resultado {
    width: 230px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.placar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 200px;
    height: 200px;
}
