@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da janela */
    margin: 0;
    font-family: 'Eczar', serif;
}

.container {
    height: 900px;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row;
}

#tabuleiro {
    display: flex;
    height: 900px;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 230px;
}

.botoes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 230px;
}

